.m-r-10 {
  margin-right: 10px;
}
.photo-row {
  height: 40vh;
  margin: 30px;
  border-radius: 10px;
  background: transparent;
}
.sent-alert {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.4);

  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 2em;
    }
  }
}

.min-width {
  min-width: 50vw;
}
.delete-pic {
  background: url("../../../../../assets/svg/settings.svg");
  width: 10vw;
  height: 10vw;
}
.send-pic {
  background: url("../../../../../assets/svg/mail.svg");
  width: 20vw;
  height: 20vw;
}
.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
