<app-status-bar [routeBack]="'/home'"></app-status-bar>
<ion-content>
    <ion-grid class="content" *ngIf="!showPopup">
        <ion-row class="photo-grid">
            <ion-col size="3" *ngFor="let photo of photos; let i = index; trackBy: trackByFn">
                <ion-img class="photo" [src]="photo.data" (click)="show(photo)"></ion-img>
                <!--                    <img class="image visible" [src]="photo.data" [alt]="photo.data" (click)="show(photo)" />-->
            </ion-col>
        </ion-row>
        <div class="relative-wrapper">
            <ion-button color="medium" class="absolute-button" (click)="takePicture()"><ion-icon name="camera"></ion-icon></ion-button>
        </div>
    </ion-grid>
    <ion-grid class="popup" *ngIf="showPopup">
        <ion-row>
            <ion-col size="12">
                <ion-img class="popup-image" [src]="test.data"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="nav" *ngIf="step == 1">
            <ion-col size="6" text-center>
                <ion-button color="medium" (click)="handleStep()"><ion-icon name="share"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="6" text-center>
                <ion-button color="medium" (click)="handleDelete(test)"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="contact" *ngIf="step == 2">
            <ion-col *ngFor="let contact of contacts" size="12" class="contact-row" (click)="navigate()" style="overflow-x: hidden; overflow-y: auto;">
                <ion-row>
                    <ion-col size="12" text-center>
                        <ion-button color="medium" class="min-width">
                            <ion-icon name="person" class="m-r-10"></ion-icon>
                            <ion-text class="m-r-10">{{ contact }}</ion-text>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="sent-alert" *ngIf="showSentAlert()">
            <ion-col size="12" text-center>
                <h2>GESENDET</h2>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<!--<div *ngIf="send == true" class="send" >-->
<!--    <div *ngIf="step === 1" class="step" (click)="step = step + 1">-->
<!--        <ion-button class="button">SEND</ion-button>-->
<!--        <ion-button class="button">Delete</ion-button>-->
<!--    </div>-->
<!--    <div *ngIf="step === 2" class="step" (click)="step = step + 1">-->
<!--        <ion-button class="button">Email</ion-button>-->
<!--        <ion-button class="button">Message</ion-button>-->
<!--    </div>-->
<!--    <div *ngIf="step === 3" class="step last">-->
<!--        <div *ngFor="let contact of contacts" (click)="sendFinal(contact.firstName, contact.lastName)">-->
<!--            <ion-icon name="person"></ion-icon> {{ contact.firstName }} {{ contact.lastName }}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div *ngIf="step === 4" style="width: 100%; height: 100%">-->
<!--        <ion-text>{{ content }}</ion-text>-->
<!--    </div>-->

<!--</div>-->
