.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.photo-grid {
  padding-top: 1vh;
  max-width: 100vw;
  width: 100vw;
    .photo {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
}

  .relative-wrapper {
    position: relative;
    width: 15%;
    padding-top: 15%;
    left: 42.5%;
    right: 42.5%;
    bottom: 10%;
    .absolute-button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
    }
  }
  .send {
    position: absolute;
    width: 100vw;
    height: 100vw;
    z-index: 3;
    top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .step {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
      height: 30%;
      &.last {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .button {
          width: 100%;
        }
      }
      .button {
        width: 50%;
        height: 100%;
      }
    }
  }

.popup {
  background-color: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact {
    position: absolute;
    z-index: 9999;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .nav {
    position: absolute;
    z-index: 9999;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .popup-image {
    display: block;
    max-width: 100%;
    max-height: 100vh;
  }
  .m-r-10 {
    margin-right: 10px;
  }
  .min-width {
    min-width: 50vw;
  }
}

