<app-status-bar></app-status-bar>
<ion-grid style="width: 100%">
  <ion-row>
    <ion-col size="12" class="header-centered-text">
      <ion-text >Messages</ion-text>
    </ion-col>
    <ion-col *ngFor="let contact of settings.getContacts(); let i = index" size="12" class="contact" (click)="openChat(i)">
      <ion-icon name="person" class="contact-icon"></ion-icon>
      <div class="contact-texts">
        <ion-text class="contact-name">{{contact}}</ion-text>
        <ion-text class="last-message">{{settings.getMessages()[i]}}</ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
