.header-centered-text {
  text-align: center;
  padding: 20px 0;

  ion-text {
    font-size: 2.8vh;
  }
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7vh;

  .contact-icon {
    font-size: 5vh;
    padding-right: 15px;
  }
  .contact-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .contact-name {
      font-weight: 500;
    }
    .last-message {
      color: #a8a8a8;
    }
  }
}
