.chat-contact-row {
  padding: 0 1vh 1vh 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 5px #a8a8a8;
  .contact-name {
    font-size: 24px;
  }
  .chat-header-icons {
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;
    width: 13vw;
    justify-content: space-between;
  }
}

