<app-status-bar></app-status-bar>
<div class="chat-contact-row">
  <ion-text class="contact-name">{{contact.name}}</ion-text>
  <div class="chat-header-icons">
    <ion-icon name="md-more"></ion-icon>
    <ion-icon name="call"></ion-icon>
  </div>

</div>
<ion-grid style="width: 100%">
  <ion-row>
    <ion-col size="12">
      <app-message (click)="changeSender(message)" *ngFor="let message of settings.getActualMessages()[contact.position]; let i = index" [text]="message.content" [floatLeft]="message.incoming"></app-message>
      <div style="clear: both"></div>
    </ion-col>
  </ion-row>
</ion-grid>
<app-send-message [contact]="contact"></app-send-message>
