<ion-content id="call-in">
  <ion-grid>
    <ion-row class="avatar-row">
      <div class="avatar">
        <ion-icon name="person"></ion-icon>
      </div>
    </ion-row>
    <ion-row class="cell-row">
      <ion-col class="cell" size="12">
        {{ getFormattedCell() }}
      </ion-col>
    </ion-row>
    <ion-row class="call-options-row">
      <ion-col size="6">
        <div class="icon green" (click)="pickUp()">
          <ion-icon name="call"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="icon red" (click)="hangUp()">
          <ion-icon name="close"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
