.message-grid {
  color: #000bad;
  background: lightblue;
  border-radius: 5vh;
  border-bottom-right-radius: 0;
  max-width: 60vw;
  margin: 15px 0;
  padding: 10px;
  float: right;
  clear: both;
  font-size: 24px;
  &.left {
    float: left;
    color: black;
    background-color: #c6c6c6;
    border-radius: 5vh;
    border-bottom-left-radius: 0;
  }
  }

