<ion-row id="status-bar" >
    <ion-col size="1">
        <div style="font-size: 3vh; float: left; font-weight: bolder" (click)="goBack()"> < </div>
    </ion-col>
    <ion-col size="6" class="status-bar">
      Local service
    </ion-col>
    <ion-col size="5" class="status-bar battery-icon">
      <ion-icon name="battery-full" (click)="goHome()"></ion-icon>
    </ion-col>
</ion-row>
