#status-bar {
  position: relative;
  width: 100%;
  z-index: 999;
  height: 5vh;
  max-height: 5vh;
  padding: 1vh;
  top: 0;
  overflow: hidden;
  background: #fcfcfc;
  ion-col {
    padding: 0;
    font-size: 1.5vh;
    line-height: 3vh;
    &.status-bar {
      color: #a8a8a8;
      &.battery-icon {
        font-size: 3vh;
        ion-icon {
          color: #a8a8a8;
          float: right;
        }
      }
    }
  }



}
