.grid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  .row {
    height: 15%;
    position: relative;
    margin-bottom: 15px;
    width: 100%;

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #fcfcfc;
      }
      .icon-wrapper {
        position: relative;
        width: 100%;
        padding-top: 100%;

        .icon {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          color: black;
        }
      }
      .content-centered {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .length {
          color: #a8a8a8;
          font-size: 2vh;
        }
        .size {
          color: #a8a8a8;
          font-size: 1.4vh;
        }
      }



    }

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      color: #cccccc;
      .item {


      }
    }
  }

