<ion-grid class="grid">
  <ion-row  *ngFor="let rec of records" class="row">
      <ion-col size="2">
        <div class="icon-wrapper" (click)="play(rec.length)">
          <ion-icon class="icon" [name]="rec.icon" (click)="rec.changeIcon()"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="5" class="content-centered">
        <div  class="length">
            {{rec.getLength()}}
        </div>
      </ion-col>
      <ion-col size="5" class="content-centered">
        <div class="size">
            {{rec.size}} kb
        </div>
      </ion-col>

  </ion-row>
</ion-grid>

