<app-status-bar [routeBack]="'/home'"></app-status-bar>

<ion-content id="settings-page">
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="form-group">
            <h2>Kontakty</h2>
            <ion-row>
                <ion-col size="12" *ngFor="let contactSaved of settings.getContacts()">
                    {{ contactSaved }}
                </ion-col>
            </ion-row>
            <label>Kdo (cislo / jmeno)</label>
            <ion-input [(ngModel)]="contact"></ion-input>
            <ion-button (click)="addContact()">Přidat kontakt</ion-button>
            <ion-button color="medium" (click)="clearCorrespondence()">Vymazat kontakty a zpravy</ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="form-group">
            <h2>Nahrávky</h2>
            <ion-row>
                <ion-col size="12" *ngFor="let record of settings.getRecords()">
                    {{ record.length }} {{record.size}}
                </ion-col>
            </ion-row>
            <label>Délka nahrávky</label>
            <ion-input [(ngModel)]="recordLength"></ion-input>
            <ion-button (click)="addRecord()">Přidat nahrávku</ion-button>
            <ion-button color="medium" (click)="settings.clearRecords()">Smazat všechny nahrávky</ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="form-group">
            <h2>Zavolej mi</h2>
            <label>Kdo (cislo / jmeno)</label>
            <ion-input [(ngModel)]="recipient.name"></ion-input>
            <label>Za jak dlouho</label>
            <ion-input [(ngModel)]="recipient.when"></ion-input>
            <ion-button (click)="callMe()">Zavolej mi</ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="form-group">
            <h2>Nastavení času</h2>
        </ion-col>
        <ion-col size="3" class="form-group" text-center>
            <ion-label>H</ion-label>
            <ion-input [(ngModel)]="time.dHour" class="time-input"></ion-input>
        </ion-col>
        <ion-col size="3" class="form-group" text-center>
            <ion-label>H</ion-label>
            <ion-input [(ngModel)]="time.uHour" class="time-input"></ion-input>
        </ion-col>
        <ion-col size="3" class="form-group" text-center>
            <ion-label>M</ion-label>
            <ion-input [(ngModel)]="time.dMins" class="time-input"></ion-input>
        </ion-col>
        <ion-col size="3" class="form-group" text-center>
            <ion-label>M</ion-label>
            <ion-input [(ngModel)]="time.uMins" class="time-input"></ion-input>
        </ion-col>
        <ion-col size="12" class="form-group">
            <ion-button (click)="setTime()">Nastavit</ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="form-group">
            <h2>Neprectene zpravy na lock screenu</h2>
            <label>Pocet neprectenych zprav</label>
            <ion-input [(ngModel)]="messageCount"></ion-input>
            <ion-button (click)="setMessageCont()">Nastavit</ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="form-group">
            <h2>Messages ( svahilština )</h2>
            <ion-input [(ngModel)]="messageText"></ion-input>
            <ion-button (click)="setMessageText()">Nastavit</ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="form-group">
            <h2>Fotky</h2>
            <ion-text>( pro nastaveni na pozadi staci kliknout na foto )</ion-text>
            <ion-img *ngFor="let photo of photos; let i = index; trackBy: trackByFn" class="photo" [src]="photo.data" alt="" (click)="settings.setBackground(photo)"></ion-img>
            <ion-button color="medium" (click)="showAllPhotos()">Zobrazit všechy fotky</ion-button>
            <ion-button color="medium" (click)="removeAllPhotos()">Smazat všechy fotky</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
