#settings-page{
  .photo {
    max-width: 25vw;
    max-height: 25vh;
  }
  ion-col {
    border-bottom: 1px solid #cecece;
    margin-bottom: 2vh;
    h2{
      margin: 2vh 0;
      padding: 2vh;
      text-align: center;
      color: white;
      background: #ff2f40;
    }
    ion-input {
      border: 1px solid #cecece;
      margin: 2vh 0;
    }
  }
}
