ion-header {
  height: 10vh;
}
.grid-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  height: 100%;

  .row-bottom {
    position: absolute;
    bottom: 10%;
    left: 25%;
    right: 25%;
  }

}

.icon-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .icon{
    color: #000;
    font-size: 12vh;
    &.icon-mic {

    }
  }
}
