<ion-content>
  <app-status-bar [routeBack]="'/home'"></app-status-bar>
  <ion-grid class="grid-wrap">
    <ion-row class="row-upper">
      <ion-col size="12" >
        <app-records-list *ngIf="!recording"></app-records-list>
        <app-waveform *ngIf="recording"></app-waveform>
        <app-record-animate [recording]="recording" [paused]="paused" [color]="'black'" *ngIf="recording"></app-record-animate>
      </ion-col>
    </ion-row>
    <ion-row class="row-bottom">
      <ion-col size="12">
        <div class="icon-wrapper">
          <ion-icon *ngIf="!recording" name="microphone" class="icon mic-wrapper" (click)="handleRecord()"></ion-icon>
          <ion-icon *ngIf="recording"  name="square" class="icon" (click)="handleStop()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
