#call-in {
  ion-grid {
    justify-content: space-between;
    flex-direction: column;
    padding: 5vh;
    .avatar-row {
      padding: 5vh 0 0 0;
      .avatar {
        width: 20vh;
        height: 20vh;
        background: #696969;
        color: #cecece;
        border-radius: 50%;
        margin: 0 auto;
        padding: 5vh;
        ion-icon {
          font-size: 10vh;
        }
      }
    }
    .cell-row {
      .cell {
        font-size: 6vh;
        line-height: 6vh;
        padding: 3vh;
        text-align: center;
      }
    }
    .icon-row {
      padding-bottom: 2vh;
      .icon {
        width: 10vh;
        height: 10vh;
        padding: 3vh;
        background: #cecece;
        border-radius: 50%;
        margin: 0 auto;
        &.active {
          background: #00b8ff;
          > ion-icon {
            color: white;
          }
        }
        ion-icon {
          color: #696969;
          font-size: 4vh;
        }
      }
    }
    .call-stop-row {
      justify-content: center;
      align-items: center;
      padding-bottom: 5vh;
      .icon {
        transform: rotate(135deg);
        width: 10vh;
        height: 10vh;
        padding: 3vh;
        background: #ce463b;
        border-radius: 50%;
        margin: 0 auto;
        ion-icon {
          color: white;
          font-size: 4vh;
        }
      }
    }
  }
}
