<ion-content id="call-in">
  <ion-grid>
    <ion-row class="avatar-row">
      <div class="avatar">
        <ion-icon name="person"></ion-icon>
      </div>
    </ion-row>
    <ion-row class="cell-row">
      <ion-col class="cell" size="12">
        {{ getFormattedCell() }}
      </ion-col>
    </ion-row>
    <ion-row style="display: flex; flex-direction: row; justify-content: center; margin-top: 2vh; margin-bottom: 4vh;">
      <app-record-animate [recording]="true" [paused]="false" [color]="'#000000'"></app-record-animate>
    </ion-row>
    <ion-row class="icon-row">
      <ion-col size="4">
        <div class="icon">
          <ion-icon name="mic-off"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="icon">
          <ion-icon name="keypad"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="icon" (click)="toggleActive()" [ngClass]="{'active' : active}">
          <ion-icon name="volume-high"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="icon-row">
      <ion-col size="4">
        <div class="icon">
          <ion-icon name="add"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="icon">
          <ion-icon name="pause"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="icon">
          <ion-icon name="person"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="call-stop-row">
      <ion-col size="12">
        <div class="icon" (click)="hangUp()">
          <ion-icon name="call"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
