#call-page {
  .contacts {
    height: 30vh;
    background: #ffffff;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow-x: hidden;
    overflow-y: auto;
    .contact{
      border-bottom: 1px solid #cecece;
      color: #000;
      font-size: 3vh;
      margin: 0 5vw 2vh 5vw;
      padding-bottom: 2vh;
      text-transform: capitalize;
    }
  }
  .number-input {
    height: 10vh;
    font-size: 4vh;
    line-height: 5vh;
    background: #fcfcfc;
    border-bottom: 1px solid #cecece;
    .number {
      color: #000000;
      overflow: hidden;
      height: 100%;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .digit-row {
    font-size: 4vh;
    color: #000000;
    background: #fcfcfc;
    height: 10.2vh;
    line-height: 10vh;
    padding: 0 1vh;
    ion-col {
      padding: 0;
      text-align: center;
    }
  }
  .call-row {
    height: 14vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #fcfcfc;
    font-size: 4vh;
    .more {
      color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .icon {
      width: 8vh;
      height: 8vh;
      padding: 1.5vh;
      color: white;
      background: #40ce3c;
      border-radius: 50%;
      margin: 0 auto;
      ion-icon {
        font-size: 5vh;
      }
    }
    .backspace {
      color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
