<app-status-bar [routeBack]="'/home'"></app-status-bar>

<ion-content id="call-page">
  <ion-row class="number-input ion-padding">
    <ion-col size="12" class="ion-text-center" style="height: 100%; line-height: 1vh;">
      <ion-text class="number">{{ getFormattedCell() }}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="contacts">
      <ion-row>
        <ion-col size="12" *ngFor="let contact of settings.getContacts()">
          <div class="contact" routerLink="/home/call/in/{{contact}}">
            {{ contact }}
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="digit-row" style="border-top: 1px solid #cecece;">
    <ion-col (click)="alterNumber('1')" size="4">1</ion-col>
    <ion-col (click)="alterNumber('2')" size="4">2</ion-col>
    <ion-col (click)="alterNumber('3')" size="4">3</ion-col>
  </ion-row>
  <ion-row class="digit-row">
    <ion-col (click)="alterNumber('4')" size="4">4</ion-col>
    <ion-col (click)="alterNumber('5')" size="4">5</ion-col>
    <ion-col (click)="alterNumber('6')" size="4">6</ion-col>
  </ion-row>
  <ion-row class="digit-row">
    <ion-col (click)="alterNumber('7')" size="4">7</ion-col>
    <ion-col (click)="alterNumber('8')" size="4">8</ion-col>
    <ion-col (click)="alterNumber('9')" size="4">9</ion-col>
  </ion-row>
  <ion-row class="digit-row">
    <ion-col (click)="alterNumber('*')" size="4">*</ion-col>
    <ion-col (click)="alterNumber('0')" size="4">0</ion-col>
    <ion-col (click)="alterNumber('#')" size="4">#</ion-col>
  </ion-row>
  <ion-row class="call-row">
    <ion-col size="4" class="more">
      <ion-icon name="more"></ion-icon>
    </ion-col>
    <ion-col size="4">
      <div class="icon" (click)="call()">
        <ion-icon name="call"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="4" class="backspace">
      <ion-icon (click)="alterNumber('backspace')" name="backspace"></ion-icon>
    </ion-col>
  </ion-row>
</ion-content>
