.bg-black {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.record {
  text-transform: capitalize;
}
