<ion-content class="bg-black">
    <app-status-bar [routeBack]="'/home/record'"></app-status-bar>
    <ion-grid class="bg-black">

        <ion-row>
            <ion-col size="12">
                <app-records-list> </app-records-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-record-animate [color]="'black'" [recording]="false" [paused]="false" [forDownCount]="seconds" [playback]="true"></app-record-animate>
                <app-loading-bar [seconds]="getIntSeconds()"> </app-loading-bar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12"  class="col-center">
                <ion-button class="record" color="light" (click)="back()">
                    zurück
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
