<ion-grid class="msg-grid" >
  <ion-row>
    <ion-col size="3" class="row-space-center">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon name="image"></ion-icon>
    </ion-col>
    <ion-col size="9">
      <div class="input-wrapper">
        <ion-input [(ngModel)]="message"></ion-input>
        <div class="input-icons">
          <ion-icon name="md-happy"></ion-icon>
          <ion-icon (click)="sendMessage()" name="md-send"></ion-icon>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
