.msg-grid {
  width: 100%;
  height: 10vh;
  min-height: 70px;
  line-height: 0vh;
  font-size: 24px;
  ion-icon {
    font-size: 40px;
  }
  ion-col {
    overflow: hidden;
  }
  .row-space-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .input-wrapper {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a8a8a8;
    padding: 10px;
    border-radius: 30px;

    .input-icons {
      width: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    ion-input {
      font-size: 24px;
    }
  }
}

