<ion-grid>
  <ion-row>
    <ion-col size="12" class="wrapper">
      <div class="first">
        <div class="second" [ngStyle]="{'width': ''+width}">
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

