.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.first {
  position: relative;
  padding-top: 20px;
  width: calc(100vw - 50px);
  border-radius: 8px;
  background-color: #fcfcfc;
}
.second {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: #a8a8a8;
}
