.animate-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  .animate-row {
    justify-content: center;

    .col-inside {
      text-align: center;

      .animate-clock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 3vh;
        .minutes, .seconds {
          &.show-zero {
            &:before {
              content: '0';
              display: inline-block;
            }
          }
        }
        .seconds {

        }

      }
    }
  }
}

