<ion-grid class="animate-col" [ngStyle]="{'color': color}">
    <ion-row class="animate-row">
        <ion-col size="12" class="col-inside">
            <div class="animate-clock">
                 <div class="minutes" [ngClass]="{'show-zero': minuteShowZeroes}">{{ minutes }}</div> : <div class="seconds" [ngClass]="{'show-zero': secondShowZeroes}">{{ seconds }}</div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>

