
<ion-content>
    <div class="background" [style]="{'background-image': 'url(' + settings.getBackground().data + ')'}">
        <ion-img [src]="settings.getBackground().data"></ion-img>
    </div>
    <app-status-bar></app-status-bar>
    <ion-grid id="landing-page">
        <ion-row id="landing-page-content">
            <ion-col class="cold-menu" size="12">
                <ion-row>
                    <ion-col *ngFor="let name of otherNames" size="3" class="ion-text-center">
                        <div class="icon-wrapper">
                            <div class="menu-icon" [ngClass]="name.name" [routerLink]="[name.path]"></div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row id="hot-menu">
            <ion-col *ngFor="let name of menuNames" size="3" class="ion-text-center">
                <div class="icon-wrapper">
                    <div class="menu-icon" [ngClass]="name.name" [routerLink]="[name.path]" ></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
