ion-content {
  .background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    ion-img{
      min-width: 100vw;
      min-height: 100vh;
      object-fit: cover;
      height: 100%;
      width: auto !important;
      border: 0;
      padding: 0;
      background-color: grey;
    }
  }
  #landing-page {
    height: 95vh;
    #landing-page-content {
      height: 80%;
      margin-left: -5px;
      margin-right: -5px;
      .cold-menu {
        ion-row {
          height: 15vh;

          ion-col {
            .icon-wrapper{
              position: relative;
              width: 80%;
              padding-top: 80%;
              background-color: transparent;

              .menu-icon {
                width: 100%;
                height: 100%;
                position: absolute;
                color: #666666;
                top: 0;
                left: 0;
                &.browser {
                  background: url("../../../../assets/svg/browser.svg") no-repeat center center;
                }
                &.calendar {
                  background: url("../../../../assets/svg/calendar.svg") no-repeat center center;
                }
                &.news {
                  background: url("../../../../assets/svg/news.svg") no-repeat center center;
                }
                &.run {
                  background: url("../../../../assets/svg/run.svg") no-repeat center center;
                }
                &.weather {
                  background: url("../../../../assets/svg/weather.svg") no-repeat center center;
                }
                &.microphone {
                  background: #efa16a url(../../../../assets/svg/mic.svg) no-repeat center center;
                  border-radius: 20px;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
    #hot-menu {
      height: 20%;
      ion-col {
        .icon-wrapper{
          position: relative;
          width: 80%;
          padding-top: 80%;
          background-color: #a8a8a8;
          border-radius: 17px;
        }
        .menu-icon {
          width: 100%;
          height: 100%;
          position: absolute;
          color: #666666;
          top: 0;
          left: 0;
          &.call {
            background: url("../../../../assets/svg/call.svg") no-repeat center center;
          }
          &.camera {
            background: url("../../../../assets/svg/camera.svg") no-repeat center center;
          }
          &.text {
            background: url("../../../../assets/svg/text.svg") no-repeat center center;
            height: 90%;
            width: 90%;
            left: 5%;
            top: 5%;
          }
          &.settings {
            background: url("../../../../assets/svg/settings.svg") no-repeat center center;
          }
        }
      }
    }
  }
}
.ion-text-center {
  margin-top: 20px;
}
