#lock-screen {
  .background {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20vh;

    .icon-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      .icon-size {
        width: 16vw;
        height: 16vw;
        border: 2px solid white;
        border-radius: 50%;
        padding: 7px;
        position: relative;

        ion-icon {
          height: 100%;
          width: 100%;
        }
        .bubble-count {
          position: absolute;
          color: #000;
          font-weight: bolder;
          left: 50%;
          font-size: calc(32px + 6 * ((100vw - 320px) / 680));
          margin-left: -0.3em;
          top: 50%;
          margin-top: -0.8em;
        }
        }
      }
    }
  }

  .power-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .status-level {
      font-size: 1em;
    }
    ion-icon {
      font-size: 3em;
    }
  }

