<ion-content id="lock-screen" (click)="transitionLandingPage()">
  <ion-grid class="background">
    <ion-row class="ion-align-items-start">
      <ion-col size="12" class="ion-text-center">
        <app-clock [color]="'white'" [sizeVh]="10" [time]="settingsService.getTime()"></app-clock>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="power-wrapper">
        <span class="status-level" style="margin-right: 5px;">{{ statusLevel }}%</span>
          <ion-icon style="margin-left: 5px" name="ios-battery-full"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="icon-row">
        <div class="icon-size">
          <ion-icon name="call"></ion-icon>
        </div>
        <div class="icon-size">
          <ion-icon name="chatbubbles"></ion-icon>
          <span class="bubble-count">{{ settingsService.getMessageCount() }}</span>
        </div>
        <div class="icon-size">
          <ion-icon name="mail"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        {{ settingsService.getMessageText() }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
